html {
	background-color: #141414;
	background-size: cover;
	font-family: 'Tilt Warp', cursive;
	margin: 0;
	cursor: none;
	height: 100%;
	width: 100%;
}

body {
	-webkit-user-select: none;
	/* Chrome, Safari, Opera */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}

.floue {
	filter: blur(3px);
}