html {
	background-color: #141414;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Tilt Warp', cursive;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	cursor: none;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
	-webkit-user-select: none;
	/* Chrome, Safari, Opera */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
}

.floue {
	filter: blur(3px);
}

.mouse-follower {
	width: 15px;
	height: 15px;
	opacity: .6;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	background-color: cyan;
}

@media (max-width: 768px) {
	.mouse-follower {
		display: none;
	}
}