html {
	background-color: #292931;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Tilt Warp', cursive;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.floue {
	filter: blur(3px);
}
