.websiteContact {
	z-index: 2;
	height: 100%;
	width: 100%;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	transition: filter 0.5s ease-in-out;
}

.reseaux {
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100vh;
	margin: 0;
}

h1 {
	color: white;
}